# Ocultar pastas de autenticação e cache
.wwebjs_auth/
.wwebjs_cache/
auth/
auth_info_baileys/

# Ocultar arquivos de configuração sensíveis
.env

# Ocultar dependências instaladas
node_modules/

# Ocultar arquivos de build
dist/

# Ocultar arquivos de log
*.log

# Ocultar arquivos do sistema operacional
.DS_Store
